<header class="site-header">
  <div class="brand">
    <h1>{{ site.title }}</h1>
  </div>

  <nav class="top-nav">
    <ul>
    {% for page in site.data.nav.top_nav.pages %}
      {% assign slug = page | downcase | replace: ' ', '-' | replace:'-&-','-and-' | replace:'-/-','-and-'  %}
      {% capture slug %}/{{ slug }}{% endcapture %}
      <li>
        <a href="{{ slug }}">{{ page }}</a>
      </li>
    {% endfor %}
    </ul>
  </nav>

  <nav class="right-nav">
    <ul>
    {% for page in site.data.nav.right_nav.pages %}
      {% assign slug = page | downcase | replace: ' ', '-' | replace:'-&-','-and-' | replace:'-/-','-and-'  %}
      {% capture slug %}/{{ slug }}{% endcapture %}
      <li>
        <a href="{{ slug }}">{{ page }}</a>
      </li>
    {% endfor %}
    </ul>
  </nav>
</header>