---
layout: default
title: Residential
carousel_config:
  speed: 1000
images:
  - image_url_path: /portfolio/residential/residential_01.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_02.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_03.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_04.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_05.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_06.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_07.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_08.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_09.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_010.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_011.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_012.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_013.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_014.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_015.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_016.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_017.jpg
    image_name: Intra Space Design Residential
  - image_url_path: /portfolio/residential/residential_018.jpg
    image_name: Intra Space Design Residential
---
<section class="page--home">
  <slick class="ng-cloak"
    data-arrows="false"
    data-css-ease="linear"
    data-fade="true"
    data-speed="{{ page.carousel_config.speed }}"
    data-dots="true">
    {% for image in page.images %}
      <div class="slick-asset" style="background-image:url({{ image.image_url_path | prepend: site.baseurl }})"></div>
    {% endfor %}
  </slick>

  <div class="slick-dots-title editable"><h2>Residential</h2></div>
</section>

<div hidden role="seo">
  {% for image in page.images %}
    <img hidden src="{{ image.image_url_path | prepend: site.baseurl }}" alt="{{ image.image_name }}" />
  {% endfor %}
</div>