.home {
  slick {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    div {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background-size: cover;
    }
  }

  .content-block {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
    max-width: 400px;
    color: #fff;
    background-color: rgba(#3498db, .75);

    h2 {

    }

    h3 {

    }
  }
}

.site-header {
  $brand-width: 250px;
  position: relative;
  z-index: 9999;

  color: #fff;

  a {
    color: #fff;
  }

  .brand {
    position: absolute;
    top: 0;
    left: 0;
    width: $brand-width;
    text-align: center;
    background-color: rgba(#e67e22, .75);
  }

  ul {
    list-style-type: none;
    margin: 0;
  }

  .top-nav {
    position: absolute;
    top: 0;
    left: $brand-width;

    background-color: rgba(#2980b9, .75);

    ul {
      padding: 15px;
    }

    li {
      display: inline-block;
    }
  }

  .right-nav {
    position: absolute;
    top: 0;
    right: 0;

    background-color: rgba(#c0392b, .75);

    ul {
      padding: 15px;
    }

    li {
      line-height: 1.5;
    }
  }
}