---
layout: default
title: Seasonal Decor
carousel_config:
  speed: 1000
images:
  - image_url_path: /portfolio/seasonal-decor/Seasonal_01.jpg
    image_name: Intra Space Design Seasonal
  - image_url_path: /portfolio/seasonal-decor/Seasonal_02.jpg
    image_name: Intra Space Design Seasonal
  - image_url_path: /portfolio/seasonal-decor/Seasonal_03.jpg
    image_name: Intra Space Design Seasonal
  - image_url_path: /portfolio/seasonal-decor/Seasonal_04.jpg
    image_name: Intra Space Design Seasonal
  - image_url_path: /portfolio/seasonal-decor/Seasonal_05.jpg
    image_name: Intra Space Design Seasonal
  - image_url_path: /portfolio/seasonal-decor/Seasonal_06.jpg
    image_name: Intra Space Design Seasonal
  - image_url_path: /portfolio/seasonal-decor/Seasonal_07.jpg
    image_name: Intra Space Design Seasonal
  - image_url_path: /portfolio/seasonal-decor/Seasonal_08.jpg
    image_name: Intra Space Design Seasonal
  - image_url_path: /portfolio/seasonal-decor/Seasonal_09.jpg
    image_name: Intra Space Design Seasonal
  - image_url_path: /portfolio/seasonal-decor/Seasonal_010.jpg
    image_name: Intra Space Design Seasonal
  - image_url_path: /portfolio/seasonal-decor/Seasonal_011.jpg
    image_name: Intra Space Design Seasonal
  - image_url_path: /portfolio/seasonal-decor/Seasonal_012.jpg
    image_name: Intra Space Design Seasonal
  - image_url_path: /portfolio/seasonal-decor/Seasonal_013.jpg
    image_name: Intra Space Design Seasonal
  - image_url_path: /portfolio/seasonal-decor/Seasonal_014.jpg
    image_name: Intra Space Design Seasonal
---
<section class="page--home">
  <slick class="ng-cloak"
    data-arrows="false"
    data-css-ease="linear"
    data-fade="true"
    data-speed="{{ page.carousel_config.speed }}"
    data-dots="true">
    {% for image in page.images %}
      <div class="slick-asset" style="background-image:url({{ image.image_url_path | prepend: site.baseurl }})"></div>
    {% endfor %}
  </slick>

  <div class="slick-dots-title editable"><h2>Seasonal Decor</h2></div>
</section>

<div hidden role="seo">
  {% for image in page.images %}
    <img hidden src="{{ image.image_url_path | prepend: site.baseurl }}" alt="{{ image.image_name }}" />
  {% endfor %}
</div>