---
layout: default
title: Corporate
carousel_config:
  speed: 1000
images:
  - image_url_path: /portfolio/corporate/Corporate_01.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_02.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_03.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_04.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_05.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_06.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_07.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_08.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_09.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_010.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_011.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_012.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_013.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_014.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_015.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_016.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_017.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_018.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_019.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_020.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_021.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_022.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_023.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_024.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_025.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_026.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_027.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_028.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_029.jpg
    image_name: Intra Space Design Corporate
  - image_url_path: /portfolio/corporate/Corporate_030.jpg
    image_name: Intra Space Design Corporate
---
<section class="page--home">
  <slick class="ng-cloak"
    data-arrows="false"
    data-css-ease="linear"
    data-fade="true"
    data-speed="{{ page.carousel_config.speed }}"
    data-dots="true">
    {% for image in page.images %}
      <div class="slick-asset" style="background-image:url({{ image.image_url_path | prepend: site.baseurl }})"></div>
    {% endfor %}
  </slick>

  <div class="slick-dots-title editable"><h2>Corporate</h2></div>
</section>

<div hidden role="seo">
  {% for image in page.images %}
    <img hidden src="{{ image.image_url_path | prepend: site.baseurl }}" alt="{{ image.image_name }}" />
  {% endfor %}
</div>