---
layout: default
title: Retail
carousel_config:
  speed: 1000
images:
  - image_url_path: /portfolio/retail/Retail_01.jpg
    image_name: Intra Space Design Retail
  - image_url_path: /portfolio/retail/Retail_02.jpg
    image_name: Intra Space Design Retail
  - image_url_path: /portfolio/retail/Retail_03.jpg
    image_name: Intra Space Design Retail
  - image_url_path: /portfolio/retail/Retail_04.jpg
    image_name: Intra Space Design Retail
  - image_url_path: /portfolio/retail/Retail_06.jpg
    image_name: Intra Space Design Retail
  - image_url_path: /portfolio/retail/Retail_07.jpg
    image_name: Intra Space Design Retail
  - image_url_path: /portfolio/retail/Retail_08.jpg
    image_name: Intra Space Design Retail
---
<section class="page--home">
  <slick class="ng-cloak"
    data-arrows="false"
    data-css-ease="linear"
    data-fade="true"
    data-speed="{{ page.carousel_config.speed }}"
    data-dots="true">
    {% for image in page.images %}
      <div class="slick-asset" style="background-image:url({{ image.image_url_path | prepend: site.baseurl }})"></div>
    {% endfor %}
  </slick>

  <div class="slick-dots-title editable"><h2>Retail</h2></div>
</section>

<div hidden role="seo">
  {% for image in page.images %}
    <img hidden src="{{ image.image_url_path | prepend: site.baseurl }}" alt="{{ image.image_name }}" />
  {% endfor %}
</div>